@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color : #e84242;
    --black-color : #0e0e0e;
    --border : 0.1rem solid rgba(255,255,255, 0.4);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /* transition: .2s ease; */
    font-family: "Poppins", sans-serif;

}

.navbar{
    display: flex;
    gap: 25px;
}

/* Base HTML Codes */
html{
    font-size: 62.5%; 
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
}

body{
    background-color: var(--main-color);
}

section{
    padding: 3.5rem 7%;
    scroll-margin-top: 10rem;
}

a{
    color: var(--black-color);
    text-decoration: none;
}

/* Header Start */

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    transform: scaleY(0);
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black-color);
}

.header .search-form input{
    width: 100%;
    margin: 1.5rem;
}

.header .logo img{
    height: 7rem;
}

.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 10rem;
    border-radius: 50px;
    padding: .5rem 7rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 2rem;
    z-index: 100;
}

.header .navbar a{
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover{
        border-bottom: 0.1rem solid var(--main-color);
        padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
    margin: 0 1rem;
}

#menu-btn{
    display: none;
}

.header .cart-items-container{
    position: absolute;
    top: 95%;
    right: -150%;
    width: 35rem ;
    height: calc(100vh - 9rem);
    background-color: white;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    border-radius: 3rem;
    padding: 2rem 2rem;

}

.header .cart-items-container.active{
    right: 3rem;
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

.header .cart-items-container .cart-item{
    display: flex;
    position: relative;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 3rem;
  
}

.header .cart-items-container .cart-item:hover{
      box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
      transition: .5s all ease;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 1.8rem;
    color: var(--black-color);
    padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.4rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}
/* Header End */

/* Home Start */

.home{
    min-height: 100vh;
    background: url("/images/home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -12.4rem;
    display: flex;
    align-items: center;
    
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
}

.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eae8e8;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 3rem;
    background-color: var(--black-color);
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.heading{
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid white;
}

.heading span{
    text-transform: uppercase;
    color: var(--black-color);
}

.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}


/* Home End */

/* Menu Start */

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: space-between;
}

.menu .box-container .box .menu-category{
    font-size: 1.2rem;
}

.menu .box-container .box h3{
    font-size: 3rem;
    padding: 1rem 0;

}

.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 300;
}

.menu .box-container .box img{
    width: 100%;
    object-fit: cover;
}

/* Menu End */

/* Products Start */

.products .box-container .box{
    text-align: center;
    background-color: white;
    position: relative;
    border-radius: 3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

.products .box-container .box-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.products .box-container .box-head .title{
    font-size: 1.4rem;
}

.products .box-container .box-head .name{
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
}


.products .box-container .box img{
     position: absolute;
     top: 50%;
     left: 50%;
     width: 100%;
     object-fit: cover;
     transform: translate(-50%, -50%);
     border-radius: 3rem;
}

.products .box-container .dark-bg img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: unset;
}

.products .box-container .dark-bg .name,
.products .box-container .dark-bg .title{
    color: white;
}

.products .box-container .box-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.products .box-container .box-bottom .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.products .box-container .box-bottom .price{
    font-size: 3rem;
}

.products .box-container .box-bottom .amount{
    font-size: 1.4rem;
}

.products .box-container .box-bottom .product-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    font-size: 1.8rem;
}

.products .box-container .dark-bg .box-bottom,
.products .box-container .dark-bg .box-bottom i{
    color: white;
}

/* Products End */

/* About Start */
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .row .content{
  flex: 1 1 45rem;
}

.about .row .content h3{
    color: white;
    font-size: 3rem;
}

.about .row .content p{
    color: rgb(234, 232, 232);
    font-size: 1.6rem;
    line-height: 1.8;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 1rem;
}

/* About End */

/* Review Start */

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: white;
    border-radius: 3rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
}

.review .box-container .box .user{
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
}

.review .box-container .box h3{
    color: var(--main-color);
    padding: 1rem 0;
    font-size: 2rem;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: gold;
}

/* Review End */

/* Contact Start */

.contact .row{
    display: flex;
    gap: 3rem;
    background-color: var(--black-color);
    flex-wrap: wrap;
    border-radius: 2rem;
}

.contact .row .map,
.contact .row form{
    flex: 1 1 45rem;
    width: 100%;
    border-radius: 2rem 0 0 2rem;
}

.contact .row form{
     object-fit: cover;
     text-align: center;
     padding: 5rem 2rem;
         border-radius: 0 1rem 1rem 0;

}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
}

.contact .row form .inputs{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
    border-radius: 1rem;
}

.contact .row form .inputs i{
    color: white;
    font-size: 2rem;
    padding-left: 3rem;
    padding-left: 2rem;
    
}


.contact .row form .inputs input{
    font-size: 1.7rem;
    width: 100%;
    padding: 2rem;
    margin: .75rem;
    color: white;
    text-transform: none;
    background: none;
}

.contact .row form .btn{
    background-color: white;
    color: var(--black-color);
}

.contact .row form .btn:hover{
    opacity: .9;
    color: var(--main-color);
}

/* Contact End */

/* Blog Start */
    
    .blog .box-container .box{
        background-color: white;
        border-radius: 3rem;
    }

    .blog .box-container .box .image{
        width: 100%;
        overflow: hidden;
        height: 25rem;
        border-radius: 3rem 3rem 0 0;
    }

    .blog .box-container .box .image img{
        height: 100%;
        object-fit: cover;
    }

    .blog .box-container .box:hover .image img{
        scale: 1.1;
        transition: .75s ease all;
    }

    .blog .box-container .box .content{
        padding: 2rem;
    }

    .blog .box-container .box .content .title{
        display: block;
        padding-top: 1rem;
        font-size: 2.5rem;
        line-height: 1.5;
    }

    .blog .box-container .box .content span{
        display: block;
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    .blog .box-container .box .content p{
        display: block;
        padding-top: 1rem;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color: rgb(152, 152, 152);
    }

/* Blog End */

/* Footer Start */

.footer{
    background-color: var(--black-color);
    text-align: center;
}

.footer .search{
    display: flex;
    justify-content: center;
}

.footer .search .search-input{
    width: 30rem;
}

.footer .search .btn-primary{
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
}


.footer .share{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;

}

.footer .share a{
    width: 7rem;
    height: 7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover{
    background-color: var(--main-color);
    transition: 0.75s all ease;
}

.footer .links{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 1rem 0;
   
}

.footer .links a{
    color: white;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    border-radius: 3rem;
}

.footer .links a:hover,
.footer .links a.active{
    background-color: var(--main-color);
}

.credit{
    color: white;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.credit span{
    font-weight: bold;
}

/* Footer End */

/* Responsive Design Start */

@media (max-width: 990px) {
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    .header .logo img{
        height: 7rem;
    }

    section{
        padding: 2rem;
    }

    .products .box-container .box .box-head .name{

         font-size: 3.4rem;

    }
}

@media (max-width: 768px){
     #menu-btn{
        display: inline-block;
     }

     .header .navbar{
        position: absolute;
        top: 95%;
        background-color: white;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0 20px 14px 0 rgba(0, 0, 0, 75%);
        display: block;
        right: -150%;
        
     }

     .header .navbar.active{
        right: 3rem;
     }

     .header .navbar a{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
     }


}

/* Responsive Design End */
